.sale-info {
    padding: 20px;
    text-align: center;
}

.sale-items {
    background-color: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.sale-grid-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    list-style-type: none;
}

.sale-details-item {
    padding: 15px;
    color: black;
}

