.avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .avatar img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .imgStandar{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .titleStandar h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
    text-align: center;
  }
  
  .titleStandar{
    text-align: center;
    margin-top: 10px;
    color: #ff0000;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .card {
    position: relative;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: white;
  }
  
  .sale-item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
  }
  
  .sale-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: rgb(5, 5, 5);
    background: #ffffff;
  }
  
  .sale-item a:hover,
  .sale-item a:active {
    background: #ff0000;
  }
  
  .sale-item__content {
    padding: 0;
  }
  
  .sale-item__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
  
  .sale-item__info h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: #ff0000;
  }
  
  .sale-item:hover h2,
  .sale-item:active h2,
  .sale-item:hover h3,
  .sale-item:active h3 {
    color: #292929;
  }
  
  .sale-item__info h3 {
    margin: 0;
  }
  
  .sales-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  @media (min-width: 600px) {
    .sales-list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }